---
import Layout from '../../layouts/invitation/Layout.astro'
import Section from '../../layouts/invitation/Section.astro'
---

<Layout title="Weding Invitation">
  <Section>
    <h1 class="text-lg mb-10 mt-[-10%] font-sans">NOS CASAMOS</h1>
    <p class="text-6xl font-cav animate-ltr">Rocío</p>
    <p class="text-6xl font-cav">y</p>
    <p class="text-6xl font-cav animate-rtl">Javier</p>
    <p class="text-lg mt-10 font-sans">14 DE DICIEMBRE 2024</p>
    <div class="animate-bounce">
      <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
      </svg>
    </div>
  </Section>
  <Section>
    <h2 class="lg:text-4xl text-3xl mb-5 font-indie font-bold">¡Prepárate para la aventura!</h2>
    <p class="lg:text-3xl text-2xl font-indie">Este vale es tu pase para un día lleno de diversión, risas y nuevas emociones en isla magica, ¡y puedes llevar a una amiga! Es para dos adultos y dos niños, así que trae a quien tú quieras y disfruta de una experiencia inolvidable.</p>
    <img src="/logo-vector-isla-magica-monocromo.webp" alt="">
    <p class="lg:text-3xl text-2xl mb-2 font-indie">Te queremos mucho.</p>
    <p class="lg:text-3xl text-2xl font-indie">Familia Mota Pérez.</p>
  </Section>
</Layout>
