---
import Layout from '../../layouts/invitation/Layout.astro'
import Section from '../../layouts/invitation/Section.astro'
import Timer from '../../layouts/invitation/Timer.astro'
---

<Layout title="Weding Invitation">
  <Section>
    <h1 class="text-lg mb-8 mt-[-15%] font-sans">NOS CASAMOS</h1>
    <p class="text-8xl font-hand animate-ltr">Rocío</p>
    <p class="text-6xl font-hand">y</p>
    <p class="text-8xl font-hand animate-rtl">Javier</p>
    <p class="text-lg mt-12 font-sans">14 DE DICIEMBRE 2024</p>
    <div class="animate-bounce w-10 h-10 mt-20">
      <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="#000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
      </svg>
    </div>
  </Section>
  <Section extraClass='bg-slate-100'>
    <p class="text-lg font-sans mt-[-15%]">A veces lo que empieza como una</p>
    <p class="text-lg font-sans">locura se convierte en lo mejor de</p>
    <p class="text-lg font-sans mb-20">tu vida</p>
    <p class="text-6xl font-hand animate-ttp mb-10">Faltan</p>
    <Timer />
  </Section>
  <Section>
    <h2 class="text-5xl font-hand my-20">Donde y Cuando</h2>
    <div class="image-container overflow-hidden">
        <img src="/hacienda.jpg" alt="Imagen" class="w-full h-1/2 object-cover">
        <div class="border-b border-l border-r border-gray-300 rounded-b-md p-10 flex flex-col justify-center items-center">
            <p class="text-3xl font-hand mb-10">Hacienda Los Frailes de San Alberto.</p>
            <p class="font-sans mb-10">Autovía del Sur A-4 KM 562, 41720, Sevilla.</p>
            <a class="font-sans text-blue-500 underline hover:text-blue-700 hover:cursor-pointer">Ver Mapa</a>
        </div>
    </div>
  </div>
  </Section>
</Layout>
