---
import GuestList from "@components/GuestList.astro";
import { addGuest, getGuests } from "@domain/Guest";
import { createFormDataWrapper } from "@utils";
import Stats from "../../../../components/Stats.astro";

export const partial = true;

if (Astro.request.method === "POST") {
	const formData = createFormDataWrapper(await Astro.request.formData());
	await addGuest({
		name: formData.get("name"),
		expectedAttendees: Number.parseInt(formData.get("expectedAttendees")),
	});
}
const guests = await getGuests();
---

<GuestList guests={guests} />

<div id="stats" hx-swap-oob="innerHTML">
	<Stats guests={guests} />
</div>

