---
import CornerDecoration from "../CornerDecoration.astro";
---

<div class="relative flex flex-col justify-center items-center">
  <CornerDecoration position="top-left" />
  <CornerDecoration position="top-right" />
  <h1 class="text-lg mb-8 mt-[-15%] font-sans">NOS CASAMOS</h1>
  <p
    class="text-9xl font-title animate-ltr">Rocío</p>
  <p class="text-6xl font-title">y</p>
  <p class="text-9xl font-title animate-rtl">Javier</p>
  <p class="text-lg mt-12 font-sans">14 DE DICIEMBRE 2024</p>
  <div class="animate-bounce w-10 h-10 mt-20">
    <svg
      data-slot="icon"
      fill="none"
      stroke-width="1.5"
      stroke="#000"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
    </svg>
  </div>
  <CornerDecoration position="bottom-left" />
  <CornerDecoration position="bottom-right" />
</div>
