---
import Accommodation from "@layouts/Accommodation.astro";
import ConfigForm from "@layouts/Confirm.astro";
import Container from "@layouts/Container.astro";
import Countdown from "@layouts/Countdown.astro";
import Gifts from "@layouts/Gifts.astro";
import HeroBannerSection from "@layouts/HeroBanner.astro";
import Layout from "@layouts/Layout.astro";
import Section from "@layouts/Section.astro";
import Timeline from "@layouts/Timeline.astro";
import WhenAndWhere from "@layouts/WhenAndWhere.astro";

const id = Astro.params.id as string;
---

<Layout title="Boda Rocío y Javi">
  <Container>
    <Section extraClass="items-stretch">
      <HeroBannerSection />
    </Section>
    <Section>
      <Countdown />
    </Section>
    <Section>
      <WhenAndWhere />
    </Section>
    <Section extraClass="items-stretch">
      <Timeline />
    </Section>
    <Section>
      <ConfigForm id={id} />
    </Section>
    <Section>
      <Gifts />
    </Section>
    <Section>
      <Accommodation />
    </Section>
  </Container>
</Layout>
