---
import Container from "@components/Container.astro";
import Layout from "@components/Layout.astro";
import Section from "@components/Section.astro";
import ConfigForm from "@components/sections/ConfirmForm.astro";
import Countdown from "@components/sections/Countdown.astro";
import HeroBannerSection from "@components/sections/HeroBanner.astro";
import WhenAndWhere from "@components/sections/WhenAndWhere.astro";

const id = Astro.params.id as string;
---

<Layout title="Weding Invitation">
  <Container>
    <Section>
      <HeroBannerSection />
    </Section>
    <Section extraClass="bg-slate-100">
      <Countdown />
    </Section>
    <Section>
      <WhenAndWhere />
    </Section>
    <Section extraClass="bg-slate-100">
      <ConfigForm id={id} />
    </Section>
  </Container>
</Layout>
