---
import { Image } from "astro:assets";
import Divider from "@components/Divider.astro";
import Intersect from "@components/Intersect.astro";
import Heart from "@components/icons/Heart.astro";
import Accommodation from "@layouts/Accommodation.astro";
import ConfigForm from "@layouts/Confirm.astro";
import Countdown from "@layouts/Countdown.astro";
import DressCode from "@layouts/DressCode.astro";
import Gifts from "@layouts/Gifts.astro";
import HeroBannerSection from "@layouts/HeroBanner.astro";
import Layout from "@layouts/Layout.astro";
import NoChildren from "@layouts/NoChildren.astro";
import Section from "@layouts/Section.astro";
import Timeline from "@layouts/Timeline.astro";
import WhenAndWhere from "@layouts/WhenAndWhere.astro";
import { getImage, onIntersect, show } from "@utils";
import Figuera from "../../assets/figuera.png";

const id = Astro.params.id as string;
---

<style>
  main {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.10' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.15'/%3E%3C/svg%3E");
  }
</style>

<Layout title="Boda Rocío y Javi">
  <main class="max-w-screen-md mx-auto text-base">
    <Section class="items-stretch">
      <HeroBannerSection />
    </Section>
    <Section class="py-16">
      <div
        class="flex flex-col items-center transition-all ease-out duration-700 opacity-0"
        {...onIntersect(show())}
      >
        <p>A veces lo que empieza</p>
        <p>como una locura</p>
        <p>se convierte en lo mejor de</p>
        <p>tu vida</p>
        <Heart size={28} class="fill-sky-950 mt-5" />
      </div>
    </Section>
    <Section>
      <Countdown />
    </Section>
    <Section class="py-10">
      <WhenAndWhere />
    </Section>
    <Section class="items-stretch pb-10">
      <Timeline />
    </Section>
    <Section>
      <div class="w-full overflow-hidden bg-sky-950">
        <Intersect
          tresHold={100}
          htmlTag="h2"
          class="font-hand text-hand-lg text-white py-20 transition-all ease-out duration-700 opacity-0"
          {...onIntersect(show())}
        >
          <span class="block mb-1">
            Nos complace invitarte
          </span>
          <span class="block mb-1">
            a ser parte de este gran día
          </span>
        </Intersect>
      </div>
    </Section>
    <Section class="py-10">
      <ConfigForm id={id} />
    </Section>
    <Section class="pb-10">
      <NoChildren />
    </Section>
    <Divider />
    <Section class="py-10">
      <DressCode />
    </Section>
    <Section class="py-10 bg-sky-950 text-white">
      <Accommodation />
    </Section>
    <Section class="py-10">
      <Gifts />
    </Section>
    <Image {...getImage(Figuera)} class="w-full" />
    <Section class="py-16">
      <div
        class="flex flex-col items-center transition-all ease-out duration-700 opacity-0"
        {...onIntersect(show())}
      >
        <p>Gracias por acompañarnos</p>
        <p>en este día tan especial para nosotros</p>
        <Heart size={28} class="fill-sky-950 mt-5" />
      </div>
    </Section>
  </main>
</Layout>
