---
import { login } from "@domain/Admin";
import { createFormDataWrapper } from "@utils";
import Layout from "../components/Layout.astro";

let loginError = false;

if (Astro.request.method === "POST") {
	const formData = createFormDataWrapper(await Astro.request.formData());
	const user = formData.get("user");
	const password = formData.get("password");
	console.log(user, password);

	try {
		const token = await login(user, password);
		Astro.cookies.set("Authorization", token, {
			httpOnly: true,
			secure: import.meta.env.PROD,
			sameSite: "strict",
		});
		return Astro.redirect("/guests");
	} catch (error) {
		loginError = true;
	}
}
---
<Layout title="Login">
  <form class="w-full max-w-lg mx-auto p-10 mt-8" method="POST" action="/login">
    <div class="mb-4">
      <label for="user" class="block text-gray-700 text-sm font-bold mb-2">Usuario</label>
      <input type="text" id="user" name="user" class="w-full border rounded-md px-4 py-2 border-gray-300" />
    </div>
    <div class="mb-6">
      <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
      <input type="password" id="password" name="password" class="w-full border rounded-md px-4 py-2 border-gray-300" />
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Login
      </button>
    </div>
  </form>
  {loginError && <p class="text-red-500 text-xs italic text-center mt-4">Usuario o contraseña incorrectos</p>}
</Layout>
