---
import type { Guest } from "@domain/Guest/model";
import AccommodationFutureInfo from "./AccommodationFutureInfo.astro";
import WantAccommodationInfo from "./WantAccommodationInfo.astro";

export interface Props {
	guest: Guest | undefined;
}

const guest = Astro.props.guest;

if (!guest) {
	return null;
}
---

<style is:global>
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-bottom {
    from {
      transform: translateY(50px);
    }
  }

  .slide {
    view-transition-name: slide;
  }

  ::view-transition-old(slide) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
  }
  ::view-transition-new(slide) {
    animation:
      500ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
  }
</style>

<div class="slide">
  {
    !!guest.accommodation ? (
      <AccommodationFutureInfo guest={guest} />
    ) : (
      <WantAccommodationInfo guest={guest} />
    )
  }
</div>
