---
import type { Guest } from "@domain/Guest/model";
import AccommodationFutureInfo from "./AccommodationFutureInfo.astro";
import WantAccommodationInfo from "./WantAccommodationInfo.astro";

export interface Props {
	guest: Guest | undefined;
}

const guest = Astro.props.guest;

if (!guest) {
	throw new Error("Invitado no encontrado");
}
---

<style is:global>
  #accommodation-info {
    view-transition-name: accommodation-info;
  }

  ::view-transition-old(accommodation-info) {
    animation: var(--fade-out);
  }
  ::view-transition-new(accommodation-info) {
    animation: var(--fade-in), var(--slide-from-bottom);
  }
</style>

<div id="accommodation-info">
  {
    !!guest.accommodation ? (
      <AccommodationFutureInfo guest={guest} />
    ) : (
      <WantAccommodationInfo guest={guest} />
    )
  }
</div>
