---
import type { Guest } from "@domain/Guest/model";
import ButtonWithLoading from "./ButtonWithLoading.astro";

export interface Props {
	guest: Guest;
}

const guest = Astro.props.guest;
---

<p class="mt-2 mb-4 font-medium text-white">En breve recibirás mas información</p>
<ButtonWithLoading
theme="secondary"
  hx-patch={`/${guest.uuid}/api/accommodation`}
  hx-target="#accommodation-info"
>
  No deseo alojamiento
</ButtonWithLoading>
