---
import type { Guest } from "@domain/Guest/model";

export interface Props {
	guest: Guest;
}

const guest = Astro.props.guest;
---
<div id="accommodation-checkbox">
  <label for="accommodation" class="flex items-center font-hand text-2xl">
    <input id="accommodation" name="accommodation" type="checkbox" class="mr-2" checked={guest.accommodation} hx-patch={`/${guest.uuid}/api/accommodation`} hx-target="#accommodation-checkbox" hx-swap="outerHTML" />
    Quiero más información
  </label>
</div>
