---
import { getGuest } from "@domain/Guest";

export interface Props {
	id: string;
}

const id = Astro.props.id;
const guest = await getGuest(id);
---
<div id="accommodation-checkbox">
  <label for="accommodation" class="flex items-center font-hand text-lg">
    <input id="accommodation" name="accommodation" type="checkbox" class="mr-2" checked={guest?.accommodation} hx-patch={`/${id}/api/accommodation`} hx-target="#accommodation-checkbox" hx-swap="outerHTML" />
    Deseo más información
  </label>
</div>
