---
import type { Guest } from "@domain/Guest/model";
import ButtonWithLoading from "./ButtonWithLoading.astro";

export interface Props {
	guest: Guest;
}

const guest = Astro.props.guest;
---

<p class="mt-2 mb-4 font-semibold">En breve recibirá mas información</p>
<ButtonWithLoading
  hx-patch={`/${guest.uuid}/api/accommodation`}
  hx-target="closest .slide"
  hx-swap="outerHTML transition:true"
>
  No deseo alojamiento
</ButtonWithLoading>
