---
import type { Guest } from "@domain/Guest";
import ButtonWithLoading from "./ButtonWithLoading.astro";

export interface Props {
	guest: Guest;
}

const guest = Astro.props.guest;
---

<ButtonWithLoading
  type="submit"
  id="confirm-btn"
>
  {guest.hasAnswered() ? "Actualizar" : "Confirmar"}
  <span slot="loading-content">Confirmando...</span>
</ButtonWithLoading>
