---
import type { Props as ButtonProps } from "./Button.astro";
import Button from "./Button.astro";
import Spinner from "./icons/Spinner.astro";

export interface Props extends Omit<ButtonProps, "slot"> {}

const { ...buttonProps } = Astro.props;
---

<Button
  {...buttonProps}
  class="relative"
>
  <span class="htmx-base">
    <slot />
  </span>
  <div class="absolute h-full w-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 htmx-indicator">
    <div class="w-full h-full flex items-center justify-center">
      <span class="mr-2"><Spinner /></span>
      <slot name="loading-content" />
    </div>
  </div>
</Button>
