---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"button"> {
	full?: boolean;
	theme?: "primary" | "secondary";
}

const {
	full = true,
	disabled,
	class: className,
	theme = "primary",
	...buttonProps
} = Astro.props;

const skin =
	theme === "primary"
		? `
	border-sky-950
	 bg-sky-900/5
	${disabled ? "opacity-50" : "hover:bg-sky-900/[0.07] active:bg-sky-900/10"}
`
		: `
	border-neutral-200
	text-neutral-200 bg-neutral-200/5
	${disabled ? "opacity-50" : "hover:bg-neutral-200/[0.07] active:bg-neutral-200/10"}
`;
---

<button
  class={`
		border-2 rounded-md
		font-[500]
		py-2 px-4 ${full ? "w-full" : ""}
		cursor-pointer
		${skin}
		${className}
	`}
  {...buttonProps}
  disabled={disabled}
>
  <slot />
</button>
