---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"button"> {
	full?: boolean;
	theme?: "primary" | "secondary";
}

const {
	full = true,
	disabled,
	class: className,
	theme = "primary",
	...buttonProps
} = Astro.props;

const skin =
	theme === "primary"
		? `${
				disabled
					? "opacity-50 text-neutral-200 bg-neutral-200/5 border-neutral-200"
					: "border-teal-800 text-teal-800 bg-teal-800/5 hover:bg-teal-800/[0.07] active:bg-teal-800/10"
			}`
		: `
		border-neutral-200
		text-neutral-200 bg-neutral-200/5
		${disabled ? "opacity-50" : "hover:bg-neutral-200/[0.07] active:bg-neutral-200/10"}
`;
---

<button
  class={`
		transition-all ease-out duration-150
		border-2 rounded-md
		font-medium
		py-2 px-4 ${full ? "w-full" : ""}
		cursor-pointer
		${skin}
		${className}
	`}
  {...buttonProps}
  disabled={disabled}
>
  <slot />
</button>
