<div x-data="{expanded: false}" class="w-full p-3 bg-white border border-gray-400 border-opacity-10 rounded-xl shadow-md shadow-gray-400">
  <div class="cursor-pointer" @click="expanded = !expanded">
    <slot name="trigger" />
  </div>
  <div x-show="expanded" x-collapse>
    <slot name="content" />
  </div>
</div>
