---
import ArrowDown from "./icons/ArrowDown.astro";
---

<div
  x-data="{expanded: false}"
  class="w-full p-3 bg-white border border-gray-400 border-opacity-10 rounded-xl shadow-md"
>
  <div class="cursor-pointer flex items-center justify-center" @click="expanded = !expanded">
    <slot name="trigger" />
    <div
      class="ml-2 transition-transform duration-300"
      :class="expanded ? 'rotate-180' : ''"
    ><ArrowDown /></div>
  </div>
  <div x-show="expanded" x-collapse>
    <slot name="content" />
  </div>
</div>
