---
import type { Guest } from "../domain/Guest";

export interface Props {
	guest: Guest;
}

const { guest } = Astro.props;
---

<h3 class="text-xl mb-2 text-center w-full">Invitación confirmada</h3>
{
  guest.confirmedAttendees === 1 ? (
    <p>Se confirmó 1 asistente</p>
  ) : (
    <p>Se confirmaron {guest.confirmedAttendees} asistentes</p>
  )
}
