---
import type { Guest } from "@domain/Guest/model";
import AttendeesCheckboxList from "./AttendeesCheckboxList.astro";
import ButtonContentWithLoading from "./ButtonContentWithLoading.astro";
import Field from "./Field.astro";

export interface Props {
	guest: Guest;
}

const guest = Astro.props.guest;
---

<form
  class="text-left"
  hx-patch={`/${guest.uuid}/api/confirm`}
  hx-target="#confirm"
  hx-swap="innerHTML transition:true"
>
  <fieldset class="grid grid-cols-2 space-y-2 py-2">
    <AttendeesCheckboxList guest={guest} />
  </fieldset>
  <div>
    <Field>
      <label for="allergies" class="font-bold"
        >Alergias o/y condición alimentaria:</label
      >
      <input
        id="allergies"
        name="allergies"
        class="border rounded-md px-4 py-2 border-gray-300"
        value={guest.allergies}
      />
    </Field>
  </div>
  <button
    type="submit"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md w-full mt-2"
  >
    <ButtonContentWithLoading>
      {guest.hasAnswered() ? "Actualizar" : "Confirmar"}
      <span slot="loading-content">Confirmando...</span>
    </ButtonContentWithLoading>
  </button>
</form>
