---
import CornerDecorationIcon from "./icons/CornerDecoration.astro";

export interface Props {
	position: "top-left" | "top-right" | "bottom-left" | "bottom-right";
}

const { position } = Astro.props;

const positionClasses = {
	"top-left": "-top-44 -left-16",
	"top-right": "-top-44 -right-16",
	"bottom-left": "-bottom-20 -left-16",
	"bottom-right": "-bottom-20 -right-16",
} as const;

const transformClasses = {
	"top-left": "",
	"top-right": "rotate-90",
	"bottom-left": "-rotate-90",
	"bottom-right": "rotate-180",
} as const;
---

<div class=`absolute ${positionClasses[position]}`>
  <div class=`${transformClasses[position]} origin-center`>
    <CornerDecorationIcon size={250} />
  </div>
</div>
