---
import type { Guest } from "@domain/Guest";
import Button from "./Button.astro";

export interface Props {
	guest: Guest;
}

const guest = Astro.props.guest;
---

<Button
  type="submit"
  disabled
  id="confirm-btn"
>
  {guest.hasAnswered() ? "Actualizar" : "Confirmar"}
</Button>
