---
export interface Props {
	className?: string;
}

const { className = "" } = Astro.props;
---
<style>
  .htmx-base {
        transition: all 0.6s;
      }
      .htmx-indicator {
        transition: all 0.6s;
      }
</style>

<td class={`border border-gray-200 px-4 py-2 ${className}`}>
  <div class="relative">
    <div class="htmx-base">
      <slot />
    </div>
    <div class="htmx-indicator absolute top-0 left-0 h-full w-full flex items-center">
      <div class="h-4 w-full bg-slate-600 rounded animate-pulse"></div>
    </div>
  </div>
</td>
