---
import { ViewTransitions } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content="14 de Diciembre 2024" />
		<meta property="og:title" content={title}>
    <meta property="og:description" content="14 de Diciembre 2024">
    <meta property="og:image" content="https://boda-rocioyjavi.vercel.app/portada.png">
    <meta property="og:url" content="https://boda-rocioyjavi.vercel.app">
    <meta property="og:type" content="website">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=block"></GoogleFontsOptimizer>
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<script is:inline defer src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
		<script>
			var processHtmx = function() {
				window.htmx.process(document.body);
			}
			window.addEventListener('load', function() {
				processHtmx();
			});
			document.addEventListener('astro:after-swap', function() {
				processHtmx();
			})
		</script>
		<SpeedInsights />
	</head>
	<body>
		<slot />
	</body>
</html>
