---
interface Props {
	extraClass?: string;
}

const { extraClass } = Astro.props;
const specialScroll = "snap-center snap-always";
---

<section
  x-data="{ shown: false }"
  x-intersect.threshold.50.once="shown = true"
  class=`
    min-h-screen lg:px-20 px-5
    flex flex-col justify-center items-center text-center
    ${specialScroll}
    ${extraClass ?? ""}
  `
>
  <slot />
</section>
