<div class="flex justify-center" x-data="timer" x-init="init();">
  <div class="flex flex-col justify-center items-center px-3">
    <div
      :class="shown ? 'opacity-1' : 'opacity-0'"
      class="overflow-hidden transition-all ease-in-out duration-1000 delay-300"
    >
      <div
        :class="shown ? 'translate-y-0' : 'translate-y-[100%]'"
        class="transition-all ease-out duration-700 delay-300"
      >
        <p class="text-xl " x-text="time().days"></p>
      </div>
    </div>
    <div
      :class="shown ? 'opacity-1' : 'opacity-0'"
      class="overflow-hidden transition-all ease-in-out duration-1000 delay-300"
    >
      <div
        :class="shown ? 'translate-y-0' : 'translate-y-[-100%]'"
        class="transition-all ease-out duration-700 delay-300"
      >
        <p class="text-xl ">DIAS</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center px-3">
    <div
      :class="shown ? 'opacity-1' : 'opacity-0'"
      class="overflow-hidden transition-all ease-in-out duration-1000 delay-300"
    >
      <div
        :class="shown ? 'translate-y-0' : 'translate-y-[100%]'"
        class="transition-all ease-out duration-700 delay-300"
      >
        <p class="text-xl " x-text="time().hours"></p>
      </div>
    </div>
    <div
      :class="shown ? 'opacity-1' : 'opacity-0'"
      class="overflow-hidden transition-all ease-in-out duration-1000 delay-300"
    >
      <div
        :class="shown ? 'translate-y-0' : 'translate-y-[-100%]'"
        class="transition-all ease-out duration-700 delay-300"
      >
        <p class="text-xl ">HRS</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center px-3">
    <div
      :class="shown ? 'opacity-1' : 'opacity-0'"
      class="overflow-hidden transition-all ease-in-out duration-1000 delay-300"
    >
      <div
        :class="shown ? 'translate-y-0' : 'translate-y-[100%]'"
        class="transition-all ease-out duration-700 delay-300"
      >
        <p class="text-xl " x-text="time().minutes"></p>
      </div>
    </div>
    <div
      :class="shown ? 'opacity-1' : 'opacity-0'"
      class="overflow-hidden transition-all ease-in-out duration-1000 delay-300"
    >
      <div
        :class="shown ? 'translate-y-0' : 'translate-y-[-100%]'"
        class="transition-all ease-out duration-700 delay-300"
      >
        <p class="text-xl ">MIN</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center px-3">
    <div
      :class="shown ? 'opacity-1' : 'opacity-0'"
      class="overflow-hidden transition-all ease-in-out duration-1000 delay-300"
    >
      <div
        :class="shown ? 'translate-y-0' : 'translate-y-[100%]'"
        class="transition-all ease-out duration-700 delay-300"
      >
        <p class="text-xl " x-text="time().seconds"></p>
      </div>
    </div>
    <div
      :class="shown ? 'opacity-1' : 'opacity-0'"
      class="overflow-hidden transition-all ease-in-out duration-1000 delay-300"
    >
      <div
        :class="shown ? 'translate-y-0' : 'translate-y-[-100%]'"
        class="transition-all ease-out duration-700 delay-300"
      >
        <p class="text-xl ">SEG</p>
      </div>
    </div>
  </div>
</div>
