<div class="flex" x-data="timer" x-init="init();">
  <div class="flex flex-col justify-center items-center px-3">
    <p class="text-xl font-sans" x-text="time().days"></p>
    <p class="text-xl font-sans">DIAS</p>
  </div>
  <div class="flex flex-col justify-center items-center px-3">
    <p class="text-xl font-sans" x-text="time().hours"></p>
    <p class="text-xl font-sans">HRS</p>
  </div>
  <div class="flex flex-col justify-center items-center px-3">
    <p class="text-xl font-sans" x-text="time().minutes"></p>
    <p class="text-xl font-sans">MIN</p>
  </div>
  <div class="flex flex-col justify-center items-center px-3">
    <p class="text-xl font-sans" x-text="time().seconds"></p>
    <p class="text-xl font-sans">SEG</p>
  </div>
</div>
