---
export interface Props {
	side: "left" | "right";
	type: "wedding" | "cocktail" | "celebration" | "dancing";
	delay: number;
}

const { type, side, delay } = Astro.props;
---

<style>
  .timeline-item {
    align-self: center;
  }
  .wedding {
    grid-area: wedding;
  }
  .cocktail {
    grid-area: cocktail;
  }
  .celebration {
    grid-area: celebration;
  }
  .dancing {
    grid-area: dancing;
  }
  .left {
    transform: translateX(-150%);
  }
  .right {
    transform: translateX(150%);
  }
  .shown {
    opacity: 1;
  }
  .hidden {
    opacity: 0;
  }
</style>

<div class=`timeline-item ${type}`>
  <div
    class=`transition-all duration-700 opacity-0`
    style=`transition-delay: ${delay + 150}ms;`
    :style="shown && { opacity: 1 }"
    >
    <slot />
  </div>
  <div
    class=`transition-all ease-out duration-1000 opacity-0 ${side} mx-auto w-[90px] h-[90px] lg:w-[100px] lg:h-[100px]`
    style=`transition-delay: ${delay}ms;`
    :style="shown && { opacity: 1, transform: 'translateX(0)' }"
    >
    <slot name="icon" />
  </div>
</div>
