---
import WantAccommodationInfo from "@components/WantAccommodationInfo.astro";
import { getGuest } from "@domain/Guest";
import AccommodationFutureInfo from "../components/AccommodationFutureInfo.astro";

const id = Astro.params.id || "";
const guest = await getGuest(id);
---

<div
  :class="shown ? 'opacity-1' : 'opacity-0'"
  class="w-full overflow-hidden transition-all ease-in-out duration-[1200ms] my-10"
>
  <div
    :class="shown ? 'translate-y-0' : 'translate-y-[-100%]'"
    class="p-5 flex flex-col justify-center items-center transition-all ease-out duration-700"
  >
    <h2 class="text-5xl font-hand mb-5">Hospedaje</h2>
    <div class="mb-5">
      <p>Si viajas para poder asistir</p>
      <p>a nuestra celebración,</p>
      <p>además de agradecertelo</p>
      <p>de todo corazón,</p>
      <p>te recomendamos un alojamiento</p>
      <p>con descuento especial para el evento.</p>
    </div>
    {!!guest?.accommodation ? <AccommodationFutureInfo /> : guest && <WantAccommodationInfo guest={guest} />}
  </div>
</div>
