---
import ConfirmForm from "@components/ConfirmForm.astro";
import ConfirmedGuestInfo from "@components/ConfirmedGuestInfo.astro";
import { getGuest } from "@domain/Guest";
import FaroImg from "../assets/faro.png";
export interface Props {
	id: string;
}

const guest = await getGuest(Astro.props.id);
---

<style is:global>
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-bottom {
    from {
      transform: translateY(50px);
    }
  }

  #confirm {
    view-transition-name: confirm;
  }

  ::view-transition-old(confirm) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
  }
  ::view-transition-new(confirm) {
    animation:
      500ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
  }
</style>

{
  guest && (
    <div class="relative w-full overflow-hidden bg-sky-950">
      <img src={FaroImg.src} class="absolute z-0 top-0 left-0 w-auto min-h-full min-w-full opacity-25">
      <h2
        class="relative z-1 py-20 transition-all duration-70 text-lg text-white"
        :class="shown ? 'opacity-1' : 'opacity-0'"
      >
        <>
          <span class="block mb-1">
            Nos complace invitarte
          </span>
          <span class="block mb-1">
            a ser parte de este gran día
          </span>
        </>
      </h2>
    </div>
    <div class="flex flex-col justify-center items-center w-full mt-20 my-10 px-4">
      <h3 class="text-center mb-10">
        <span
          x-bind:class="shown ? 'translate-x-0 opacity-1' : 'opacity-0 translate-x-[50%]'"
          class="block text-lg mb-5 transition-all ease-in-out duration-700"
        >
          Invitación para:
        </span>
        <span
          x-bind:class="shown ? 'translate-x-0 opacity-1' : 'opacity-0 translate-x-[-50%]'"
          class="block text-5xl font-hand transition-all ease-in-out duration-700"
        >
          {guest.name}
        </span>
      </h3>
      <div
        x-bind:class="shown ? 'opacity-1' : 'opacity-0'"
        class="bg-white p-6 shadow-md rounded-md w-full max-w-screen-sm mx-10 transition-all ease-in-out delay-100 duration-700"
      >
        <div id="confirm">
          {guest.hasAnswered() ? (
            <ConfirmedGuestInfo guest={guest} />
          ) : (
            <ConfirmForm guest={guest} />
          )}
        </div>
      </div>
    </div>
  )
}
