---
import ConfirmForm from "@components/ConfirmForm.astro";
import ConfirmedGuestInfo from "@components/ConfirmedGuestInfo.astro";
import { getGuest } from "@domain/Guest";
import { onIntersect, show, translate } from "@utils";
export interface Props {
	id: string;
}

const guest = await getGuest(Astro.props.id);

if (!guest) {
	return new Response("Invitado no encontrado", {
		status: 500,
		statusText: "Internal Server Error",
	});
}
---

<style is:global>
  #confirm {
    view-transition-name: confirm;
  }

  ::view-transition-old(confirm) {
    animation: var(--fade-out);
  }
  ::view-transition-new(confirm) {
    animation: var(--fade-in), var(--slide-from-bottom);
  }
</style>

<div class="flex flex-col justify-center items-center w-full mt-20 my-10 px-4">
  <h3 class="text-center mb-10">
    <span
      class="block text-lg mb-5 transition-all ease-out duration-1000 opacity-0 translate-x-[50%]"
      {...onIntersect(show(translate()))}
    >
      Invitación para:
    </span>
    <span
      class="block text-5xl font-hand text-sky-950 transition-all ease-out duration-1000 opacity-0 translate-x-[-50%]"
      {...onIntersect(show(translate()))}
    >
      {guest.name}
    </span>
  </h3>
  <div class="bg-white p-6 shadow-md rounded-md w-full max-w-screen-sm mx-10">
    <div id="confirm">
      {
        guest.hasAnswered() ? (
          <ConfirmedGuestInfo guest={guest} />
        ) : (
          <ConfirmForm guest={guest} />
        )
      }
    </div>
  </div>
</div>
