---
import Intersect from "@components/Intersect.astro";
import Timer from "@components/Timer.astro";
import Heart from "@components/icons/Heart.astro";
import Almunia from "../assets/almunia.webp";
---
<Intersect tresHold={10} class="flex flex-col items-center duration-700 my-20" :class="shown ? 'opacity-1' : 'opacity-0'">
  <p>A veces lo que empieza</p>
  <p>como una locura</p>
  <p>se convierte en lo mejor de</p>
  <p>tu vida</p>
  <div class="mt-5"><Heart size={28} class="fill-sky-950" /></div>
</Intersect>
<div class="relative bg-sky-950 w-full">
  <img src={Almunia.src} class="max-h-screen min-w-full opacity-40">
  <div class="absolute z-10 top-0 left-0 h-full w-full flex items-center justify-center py-20">
    <div class="flex flex-col items-center text-center text-white">
      <Intersect tresHold={75}>
        <h2>
          <p
            class="text-6xl font-hand animate-ttp mb-7 transition-all ease-out duration-700"
            :class="shown ? 'translate-0 opacity-1' : 'opacity-0 translate-y-[-50px]'"
          >
            Faltan
          </p>
          <Timer />
          <p
            class="text-5xl font-hand text-sky-950 mt-7 transition-all ease-out duration-700"
            :class="shown ? 'translate-0 opacity-1' : 'opacity-0 translate-y-[50px]'"
          >
            para nuestra boda
          </p>
        </h2>
      </Intersect>
    </div>

  </div>
</div>
