---
import { Image } from "astro:assets";
import Intersect from "@components/Intersect.astro";
import Timer from "@components/Timer.astro";
import { getImage, onIntersect, show, translate } from "@utils";
import Almunia from "../assets/almunia.webp";
---

<div class="relative bg-sky-950 w-full">
  <Image {...getImage(Almunia)} class="max-h-screen min-w-full opacity-40" />
  <div class="absolute z-10 top-0 left-0 h-full w-full flex items-center justify-center py-20">
    <div class="flex flex-col items-center text-center text-white">
      <Intersect tresHold={75}>
        <h2>
          <p
            class="font-hand text-hand-2xl mb-7 transition-all ease-out opacity-0 duration-700 translate-y-[-50px]"
            {...onIntersect(show(translate()))}
            style={{}}
          >
            Faltan
          </p>
          <Timer />
          <p
            class="font-hand text-hand-xl mt-7 transition-all ease-out duration-700 opacity-0 translate-y-[50px]"
            {...onIntersect(show(translate()))}
          >
            para nuestra boda
          </p>
        </h2>
      </Intersect>
    </div>

  </div>
</div>
