---
import ButtonWithLoading from "@components/ButtonWithLoading.astro";
import GuestForm from "@components/GuestForm.astro";
import GuestList from "@components/GuestList.astro";
import Csv from "@components/icons/Csv.astro";
import {
	filterByConfirmed,
	filterByDeclined,
	filterByNotAnswered,
	filterByWantBus,
	getGuests,
} from "@domain/Guest";
let guests = await getGuests();
const filterBy = Astro.url.searchParams.get("filterBy");
switch (filterBy) {
	case "confirmed":
		guests = filterByConfirmed(guests);
		break;
	case "declined":
		guests = filterByDeclined(guests);
		break;
	case "notAnswered":
		guests = filterByNotAnswered(guests);
		break;
	case "wantBus":
		guests = filterByWantBus(guests);
		break;
}
---

<div class="container mx-auto py-10 px-5">
  <div class="flex items-center mb-5">
    <h1 class="text-4xl lg:text-6xl">Lista de invitados</h1>
    <a
      target="_blank"
      class="ml-5"
      href="/guests/api/csv"
      data-astro-prefetch="false"><Csv size={40} /></a
    >
  </div>
  <div
    class="flex flex-col items-start space-y-2 lg:flex-row lg:items-center lg:space-x-4 lg:space-y-0 pb-8 pt-2"
    hx-push-url={true}
    hx-target="#admin-root"
  >
    <label
      class="inline-flex items-center cursor-pointer"
      for="filterByConfirmed"
    >
      <input
        id="filterByConfirmed"
        type="radio"
        name="filterBy"
        value="confirmed"
        checked={filterBy === "confirmed"}
        class="form-radio text-blue-600"
        hx-get="/guests"
      />
      <span class="ml-2 text-gray-700 font-semibold"
        >Filtrar por confirmados</span
      >
    </label>

    <label
      class="inline-flex items-center cursor-pointer"
      for="filterByDeclined"
    >
      <input
        id="filterByDeclined"
        type="radio"
        name="filterBy"
        value="declined"
        checked={filterBy === "declined"}
        class="form-radio text-blue-600"
        hx-get="/guests"
      />
      <span class="ml-2 text-gray-700 font-semibold"
        >Filtrar por declinados</span
      >
    </label>

    <label
      class="inline-flex items-center cursor-pointer"
      for="filterByNotAnswered"
    >
      <input
        id="filterByNotAnswered"
        type="radio"
        name="filterBy"
        value="notAnswered"
        checked={filterBy === "notAnswered"}
        class="form-radio text-blue-600"
        hx-get="/guests"
      />
      <span class="ml-2 text-gray-700 font-semibold"
        >Filtrar por no contestados</span
      >
    </label>
    <label
      class="inline-flex items-center cursor-pointer"
      for="filterByWantBus"
    >
      <input
        id="filterByWantBus"
        type="radio"
        name="filterBy"
        value="wantBus"
        checked={filterBy === "wantBus"}
        class="form-radio text-blue-600"
        hx-get="/guests"
      />
      <span class="ml-2 text-gray-700 font-semibold"
        >Filtrar por interesados en bus</span
      >
    </label>
    <a
      hx-get="/guests"
      class="inline-flex items-center cursor-pointer text-blue-500 hover:text-blue-600 font-semibold underline"
      >Limpiar filtros</a
    >
  </div>
  <div id="guest-list">
    <GuestList guests={guests} />
  </div>
  <div
    class="w-full mt-10 flex flex-col md:flex-row md:space-x-10 max-md:space-y-10"
  >
    <form class="w-full" hx-post="/guests/api/add" hx-target="#guest-list">
      <GuestForm />
    </form>
    <form
      class="w-full"
      hx-encoding="multipart/form-data"
      hx-post="/guests/api/add/dump"
      hx-target="#guest-list"
    >
      <div class="flex flex-col space-y-2">
        <input
          type="file"
          name="csvFile"
          class="border rounded-md px-4 py-2"
          required
          accept=".csv"
        />
        <ButtonWithLoading
          type="submit"
          class="bg-blue-500 text-white px-4 py-2"
        >
          Subir Archivo
          <span slot="loading-content">Subiendo Archivo...</span>
        </ButtonWithLoading>
      </div>
    </form>
  </div>
</div>
