---
import ButtonWithLoading from "@components/ButtonWithLoading.astro";
import CheckBox from "@components/CheckBox.astro";
import GuestForm from "@components/GuestForm.astro";
import GuestList from "@components/GuestList.astro";
import Csv from "@components/icons/Csv.astro";
import { filterGuestsBy, getGuests } from "@domain/Guest";

const filterBy = Astro.url.searchParams.get("filterBy");
const guests = filterGuestsBy(await getGuests(), filterBy);

const filterRadioBtnProps = (value: string) =>
	({
		value,
		checked: filterBy === value,
		type: "radio",
		name: "filterBy",
		"hx-get": "/guests",
	}) as const;
---

<div class="container mx-auto py-10 px-5">
  <div class="flex items-center mb-5">
    <h1 class="text-4xl lg:text-6xl">Lista de invitados</h1>
    <a
      target="_blank"
      class="ml-5"
      href="/guests/api/csv"
      data-astro-prefetch="false"><Csv size={40} /></a
    >
  </div>
  <div
    class="flex flex-col items-start space-y-2 lg:flex-row lg:items-center lg:space-x-4 lg:space-y-0 pb-8 pt-2"
    hx-push-url={true}
    hx-target="#admin-root"
  >
    <CheckBox
      id="filterByConfirmed"
      {...filterRadioBtnProps("confirmed")}
    >
      Filtrar por confirmados
    </CheckBox>
    <CheckBox
      id="filterByDeclined"
      {...filterRadioBtnProps("declined")}
    >
      Filtrar por confirmados
    </CheckBox>
    <CheckBox
      id="filterByNotAnswered"
      {...filterRadioBtnProps("notAnswered")}
    >
      Filtrar por confirmados
    </CheckBox>
    <CheckBox
      id="filterByWantBus"
      {...filterRadioBtnProps("wantBus")}
    >
      Filtrar por confirmados
    </CheckBox>
    <a
      hx-get="/guests"
      class="inline-flex items-center cursor-pointer text-blue-500 hover:text-blue-600 font-semibold underline"
      >Limpiar filtros</a
    >
  </div>
  <div id="guest-list">
    <GuestList guests={guests} />
  </div>
  <div
    class="w-full mt-10 flex flex-col md:flex-row md:space-x-10 max-md:space-y-10"
  >
    <form class="w-full" hx-post="/guests/api/add" hx-target="#guest-list">
      <GuestForm />
    </form>
    <form
      class="w-full"
      hx-encoding="multipart/form-data"
      hx-post="/guests/api/add/dump"
      hx-target="#guest-list"
    >
      <div class="flex flex-col space-y-2">
        <input
          type="file"
          name="csvFile"
          class="border rounded-md px-4 py-2"
          required
          accept=".csv"
        />
        <ButtonWithLoading
          type="submit"
          class="bg-blue-500 text-white px-4 py-2"
        >
          Subir Archivo
          <span slot="loading-content">Subiendo Archivo...</span>
        </ButtonWithLoading>
      </div>
    </form>
  </div>
</div>
