---
import { ViewTransitions, fade } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import AlloystanFont from "./fonts/Alloystan.astro";
import BellandhaFont from "./fonts/Bellandha.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
const anim = {
	old: {
		name: "page",
		duration: "0.2s",
		direction: "reverse",
		easing: "ease-in-out",
	},
	new: {
		name: "page",
		duration: "0.7s",
		easing: "ease-in-out",
	},
};

const customTransition = {
	forwards: anim,
	backwards: anim,
};
---

<!doctype html>
<html lang="es" transition:animate={customTransition}>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content="14 de Diciembre 2024" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="14 de Diciembre 2024" />
    <meta
      property="og:image"
      content="https://boda-rocioyjavi.vercel.app/portada.png"
    />
    <meta property="og:url" content="https://boda-rocioyjavi.vercel.app" />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=block"
    />
    <BellandhaFont />
    <AlloystanFont />
    <slot name="head" />
    <!-- <HighSpiritedFont /> -->
    <style is:global>
      @keyframes page {
        0% {
          opacity: 0;
          transform: translateY(1rem);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .htmx-request .htmx-base {
        opacity: 0;
      }
      .htmx-request .htmx-indicator {
        opacity: 1;
      }
      .htmx-base {
        transition: all 0.3s;
        opacity: 1;
      }
      .htmx-indicator {
        transition: all 0.3s;
        opacity: 0;
      }
      .hide {
        transition-property: all;
        transition-timing-function: ease-out;
        opacity: 0;
      }
      .show {
        transition-property: all;
        transition-timing-function: ease-out;
        opacity: 1;
      }
    </style>
    <ViewTransitions />
    <script
      is:inline
      defer
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"></script>
    <script>
      var processHtmx = function () {
        window.htmx?.process(document.body);
      };
      window.addEventListener("load", processHtmx);
      document.addEventListener("astro:after-swap", processHtmx);
    </script>
    <SpeedInsights />
  </head>
  <body>
    <slot />
  </body>
</html>
