---
import { onIntersect, show, translate } from "@utils";
---
<div
  class="w-full overflow-hidden transition-all ease-out duration-[1200ms] opacity-0 translate-y-1/2"
  {...onIntersect(show(translate()))}
>
  <div class="flex flex-col justify-center items-center">
    <h2 class="font-hand text-hand-xl text-sky-950 mb-5">Te agradecemos</h2>
    <div class="text-lg">
      <p>La no asistencia de niños</p>
    </div>
  </div>
</div>
