<div
  :class="shown ? 'opacity-1' : 'opacity-0'"
  class="w-full overflow-hidden transition-all ease-out duration-[1200ms] my-10"
>
  <div
    :class="shown ? 'translate-y-0' : 'translate-y-1/2'"
    class="p-5 flex flex-col justify-center items-center transition-all ease-out duration-700"
  >
    <h2 class="text-5xl font-hand text-sky-950 mb-5">Te agradecemos</h2>
    <div class="text-lg">
      <p>La no asistencia de niños</p>
    </div>
  </div>
</div>
