---
interface Props {
	extraClass?: string;
}

const { extraClass } = Astro.props;
---

<section
  x-data="{ shown: false, loaded: false }"
  x-intersect.threshold.20.once="shown = true"
  class=`page h-screen lg:px-20 px-5 flex flex-col justify-center items-center snap-center snap-always ${extraClass ?? ""}`
>
  <slot />
</section>
