---
import TimelineItem from "@components/TimelineItem.astro";
import Celebration from "@components/icons/Celebration.astro";
import Cocktail from "@components/icons/Cocktail.astro";
import Dancing from "@components/icons/Dancing.astro";
import Heart from "@components/icons/HeartOutline.astro";
import Wedding from "@components/icons/Wedding.astro";
import Intersect from "../components/Intersect.astro";
---

<style>
  .timeline-container {
    z-index: 1;
    position: relative;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    gap: 0;
    grid-template-areas:
      "wedding wedding timeline-1 empty-w empty-w"
      "empty-co empty-co timeline-2 cocktail cocktail"
      "celebration celebration timeline-3 empty-ce empty-ce"
      "empty-d empty-d timeline-4 dancing dancing"
    ;
  }
  .timeline-1 {
    position: relative;
    grid-area: timeline-1;
  }
  .timeline-2 {
    position: relative;
    grid-area: timeline-2;
  }
  .timeline-3 {
    position: relative;
    grid-area: timeline-3;
  }
  .timeline-4 {
    position: relative;
    grid-area: timeline-4;
  }
  .timeline-dot {
    z-index: 2;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    background-color: #939499;
  }
  .timeline-line {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    border: 3px solid #939499;
    transform: translateX(-50%);
  }
  .hide {
    transform: translateX(-50%) scaleY(0);
  }
</style>
<h2
  class="text-lg my-10"
>Te compartimos los detalles de la celebración.</h2>
<div class="w-full max-w-screen-md mx-auto pb-20">
  <div class="timeline-container">
    <TimelineItem type="wedding" side="left" >
      <p class="text-sm mb-1">12:00 HRS</p>
      <p class="font-hand text-5xl">Ceremonia</p>
      <div slot="icon">
        <Wedding />
      </div>
    </TimelineItem>
    <div class="flex items-center justify-center timeline-1">
      <div class="timeline-dot">
        <Heart />
      </div>
      <div class="timeline-line"></div>
    </div>
    <TimelineItem type="cocktail" side="right" >
      <p class="text-sm mb-1">13:00 HRS</p>
      <p class="font-hand text-5xl">Aperitivos</p>
      <div slot="icon">
        <Cocktail />
      </div>
    </TimelineItem>
    <div class="flex items-center justify-center timeline-2">
      <div class="timeline-dot">
        <Heart />
      </div>
      <div class="timeline-line"></div>
    </div>
    <TimelineItem type="celebration" side="left" >
      <p class="text-sm mb-1">15:00 HRS</p>
      <p class="font-hand text-5xl">Banquete</p>
      <div slot="icon">
        <Celebration />
      </div>
    </TimelineItem>
    <div class="flex items-center justify-center timeline-3">
      <div class="timeline-dot">
        <Heart />
      </div>
      <div class="timeline-line"></div>
    </div>
    <TimelineItem type="dancing" side="right" >
      <p class="text-sm mb-1">17:00 HRS</p>
      <p class="font-hand text-5xl">Fiesta</p>
      <div slot="icon">
        <Dancing />
      </div>
    </TimelineItem>
    <div class="flex items-center justify-center timeline-4">
      <div class="timeline-dot">
        <Heart />
      </div>
    </div>
  </div>
</div>
