---
import TimelineItem from "@components/TimelineItem.astro";
import Celebration from "@components/icons/Celebration.astro";
import Cocktail from "@components/icons/Cocktail.astro";
import Dancing from "@components/icons/Dancing.astro";
import Heart from "@components/icons/Heart.astro";
import Wedding from "@components/icons/Wedding.astro";
---

<style>
  .canvas {
    position: relative;
    height: 75%;
  }
  .timeline-container {
    z-index: 1;
    position: relative;
    height: 100%;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    gap: 0;
    grid-template-areas:
      "wedding wedding timeline-1 empty-w empty-w"
      "empty-co empty-co timeline-2 cocktail cocktail"
      "celebration celebration timeline-3 empty-ce empty-ce"
      "empty-d empty-d timeline-4 dancing dancing"
    ;
  }
  .timeline-1 {
    position: relative;
    grid-area: timeline-1;
  }
  .timeline-2 {
    position: relative;
    grid-area: timeline-2;
  }
  .timeline-3 {
    position: relative;
    grid-area: timeline-3;
  }
  .timeline-4 {
    position: relative;
    grid-area: timeline-4;
  }
  .timeline-dot {
    z-index: 2;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    background-color: #939499;
  }
  .timeline-line {
    position: absolute;
    height: 50%;
    left: 50%;
    border: 3px solid #939499;
    transform: translateX(-50%);
  }
  .filter {
    position: absolute;
    transition: transform 1800ms linear;
    z-index: 2;
    top: 0;
    left: 50%;
    width: 70px;
    height: 100%;
    background-color: #fff;
    opacity: 0.9;
    transform: translateX(-50%) scaleY(1);
    transform-origin: bottom;
  }
  .hide {
    transform: translateX(-50%) scaleY(0);
  }
</style>
<h2 class="relative text-lg mb-5 -top-3">Te compartimos los detalles de la celebración.</h2>
<div class="w-full max-w-screen-md mx-auto canvas -top-6">
  <div
    class="filter"
    :class="shown ? 'hide' : ''"
  ></div>
  <div class="timeline-container">
    <TimelineItem type="wedding" side="left" delay={0}>
      <p class="text-sm">12:00 HRS</p>
      <p class="font-hand text-5xl">Ceremonia</p>
      <div slot="icon">
        <Wedding />
      </div>
    </TimelineItem>
    <div class="flex items-center justify-center timeline-1">
      <div class="timeline-dot">
        <Heart />
      </div>
      <div class="timeline-line top-[50%]"></div>
    </div>
    <TimelineItem type="cocktail" side="right" delay={400}>
      <p class="text-sm">13:00 HRS</p>
      <p class="font-hand text-5xl">Aperitivos</p>
      <div slot="icon">
        <Cocktail />
      </div>
    </TimelineItem>
    <div class="flex items-center justify-center timeline-2">
      <div class="timeline-dot">
        <Heart />
      </div>
      <div class="timeline-line top-0"></div>
      <div class="timeline-line top-[50%]"></div>
    </div>
    <TimelineItem type="celebration" side="left" delay={800}>
      <p class="text-sm">15:00 HRS</p>
      <p class="font-hand text-5xl">Banquete</p>
      <div slot="icon">
        <Celebration />
      </div>
    </TimelineItem>
    <div class="flex items-center justify-center timeline-3">
      <div class="timeline-dot">
        <Heart />
      </div>
      <div class="timeline-line top-0"></div>
      <div class="timeline-line top-[50%]"></div>
    </div>
    <TimelineItem type="dancing" side="right" delay={1200}>
      <p class="text-sm">17:00 HRS</p>
      <p class="font-hand text-5xl">Fiesta</p>
      <div slot="icon">
        <Dancing />
      </div>
    </TimelineItem>
    <div class="flex items-center justify-center timeline-4">
      <div class="timeline-dot">
        <Heart />
      </div>
      <div class="timeline-line top-0"></div>
    </div>
  </div>
</div>
