---
import { getGuests } from '@repository/guest';
import Layout from '@layouts/Layout.astro'
import GuestList from '@components/GuestList.astro'
const guests = getGuests();
---

<Layout title="Guest List">
  <div class="container mx-auto">
    <h1 class="text-6xl mb-10">Lista de invitados</h1>
    <div id="guest-list">
      <GuestList guests={guests} />
    </div>
  </div>
</Layout>
